<h1>Create a portfolio item</h1>

<%= form_with(model: @portfolio_item, local: true) do |portfolio| %>
  
    <div class="field">
      <%= portfolio.label :title %>
      <%= portfolio.text_field :title %>
    </div>

    <div class="field">
      <%= portfolio.label :subtitle %>
      <%= portfolio.text_field :subtitle %>
    </div>
  
  
    <div class="field">
      <%= portfolio.label :body %>
      <%= portfolio.text_area :body %>
    </div>
  
    <div class="actions">
      <%= portfolio.submit %>
    </div>
  <% end %>
  